body {
	font-family: "Roboto", sans-serif;
	color: #212121;
	margin: 0 auto;
}

header {
	width: 100%;
	height: auto;
	background: #ffffff;
	margin: 0 auto;
	padding: 24px 0 25px 0;
	border-bottom: 1px solid #ececec;
	text-align: center;
}

.header-logo {
	width: 145px;
	height: 31px;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #000000;
	text-decoration: none;
	margin: 0 93px 0 0;
}

.header-logo span {
	color: #2196f3;
}

.nav-menu {
	display: inline;
}

.studio {
	width: 49px;
	height: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: #212121;
}

.portfolio {
	width: 76px;
	height: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: #212121;
	margin: 0 0 0 50px;
}

.contacts {
	width: 68px;
	height: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: #212121;
	margin: 0 0 0 50px;
}

.header-contact-list {
	margin: 0 0 0 331px;
	display: inline;
}

.header-mail {
	width: 135px;
	height: 16px;
	margin: 0 50px 0 0;
	display: inline;
}

.header-tel {
	width: 122px;
	height: 16px;
	display: inline;
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #757575;
	text-decoration: none;
}

.nav-menu a:hover,
.header-link:hover {
	color: #2196f3;
	outline: none;
}

.nav-menu a:focus,
.header-link:focus {
	color: #2196f3;
	outline: none;
}

.nav-menu a:active,
.header-link:active {
	color: #2196f3;
	outline: none;
}

.studio-background {
	width: 100%;
	height: auto;
	background: #2f303a;
	margin: 0 auto;
	padding: 200px 0;
}

.studio-background h1 {
	width: 696px;
	height: 120px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 auto;
}

.studio-button {
	width: 200px;
	height: 50px;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	display: block;
	margin: 30px auto 0 auto;
}

.studio-button:hover {
	visibility: hidden;
}

.features {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 94px 0;
	text-align: center;
}

.features li {
	width: 270px;
	height: 101px;
	margin: 0 30px 0 0;
	display: inline-block;
}

.features h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
	margin: 0 0 10px 0;
	text-align: left;
}

.features p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
	text-align: left;
}

.work {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 0 94px 0;
	text-align: center;
}

.work h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin: 0 0 50px 0;
}

.work ul li {
	display: inline-block;
	margin: 0 30px 0 0;
}

.team {
	width: 100%;
	height: auto;
	background: #f5f4fa;
	margin: 0 auto;
	padding: 94px 0;
	text-align: center;
}

.team h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin: 0 0 50px 0;
}

.team ul li {
	width: 270px;
	height: 368px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	display: inline-block;
	margin: 0 30px 0 0;
}

.team h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin: 30px 0 10px 0;
}

.team p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}

footer {
	width: 100%;
	height: auto;
	background: #2f303a;
	margin: 0 auto;
	padding: 60px 0;
}

.footer-logo {
	width: 145px;
	height: 31px;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #ffffff;
	text-decoration: none;
	margin: 0 0 0 215px;
}

.footer-logo span {
	color: #2196f3;
}

.footer-contact-list {
	width: 231px;
	height: 81px;
	list-style-type: none;
	padding: 0;
	margin: 30px 0 0 215px;
}

.footer-contact-list li {
	margin: 10px 0 0 0;
}

.footer-address a {
	width: 231px;
	height: 21px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: #ffffff;
}

.footer-mail a,
.footer-tel a {
	width: 231px;
	height: 21px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

.footer-contact-list li a:hover {
	color: #2196f3;
	outline: none;
}

.footer-contact-list li a:focus {
	color: #2196f3;
	outline: none;
}

.footer-contact-list li a:active {
	color: #2196f3;
	outline: none;
}

.projects {
	padding: 94px 0 0 0;
}

.filters {
	margin: 0 0 50px 0;
	text-align: center;
}

.filters li {
	display: inline;
	margin: 0 0 0 8px;
}

.filter1 {
	width: 73px;
	height: 38px;
	background: #f5f4fa;
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.filter1:hover {
	width: 73px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.filter1:focus {
	width: 73px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	outline: none;
}

.filter2 {
	width: 128px;
	height: 38px;
	background: #f5f4fa;
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.filter2:hover {
	width: 128px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.filter2:focus {
	width: 128px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	outline: none;
}

.filter3 {
	width: 145px;
	height: 38px;
	background: #f5f4fa;
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.filter3:hover {
	width: 145px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.filter3:focus {
	width: 145px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	outline: none;
}

.filter4 {
	width: 103px;
	height: 38px;
	background: #f5f4fa;
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.filter4:hover {
	width: 103px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.filter4:focus {
	width: 103px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	outline: none;
}

.filter5 {
	width: 130px;
	height: 38px;
	background: #f5f4fa;
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.filter5:hover {
	width: 130px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.filter5:focus {
	width: 130px;
	height: 38px;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	outline: none;
}

.project-list {
	text-align: center;
}

.project-list li {
	width: 370px;
	height: 404px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	margin: 0 30px 30px 0;
	display: inline-block;
}

.project-list h2 {
	width: 322px;
	height: 36px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: #212121;
	margin: 20px 24px 4px 24px;
}

.project-list p {
	width: 322px;
	height: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: #757575;
	margin: 0 24px 20px 24px;
}
