body {
	font-family: "Roboto", sans-serif;
	background: #ffffff;
	color: #212121;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #212121;
}

address {
	font-style: normal;
}

button {
	cursor: pointer;
}

header {
	border-bottom: 1px solid #ececec;
}

.header-logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #000000;
}

.header-logo span {
	color: #2196f3;
}

.studio,
.portfolio,
.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.studio:hover,
.studio:focus,
.portfolio:hover,
.portfolio:focus,
.contacts:hover,
.contacts:focus {
	color: #2196f3;
	outline: none;
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #757575;
}

.header-link:hover,
.header-link:focus {
	color: #2196f3;
	outline: none;
}

.studio-background {
	background: #2f303a;
}

.studio-background h1 {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}

.studio-button {
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
}

.studio-button:hover,
.studio-button:focus {
	background: #188ce8;
	outline: none;
}

.features h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.features p {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}

.work h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.team {
	background: #f5f4fa;
}

.team h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-list li {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-list p {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}

footer {
	background: #2f303a;
}

.footer-logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.footer-logo span {
	color: #2196f3;
}

.footer-address {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.footer-mail,
.footer-tel {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
	color: #2196f3;
	outline: none;
}

.filter1,
.filter2,
.filter3,
.filter4,
.filter5 {
	background: #f5f4fa;
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
}

.filter1:hover,
.filter1:focus,
.filter2:focus,
.filter2:hover,
.filter2:focus,
.filter3:hover,
.filter3:focus,
.filter4:hover,
.filter4:focus,
.filter5:hover,
.filter5:focus {
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	color: #ffffff;
	outline: none;
}

.project-list li {
	border: 1px solid #eeeeee;
}

.project-list h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.project-list p {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: #757575;
}
